@import url(-variaveis.css);

body {
    background-color: gray;
}

.logoPrincipal {
    display: flex;
    justify-content: space-around;

}

#logo {
    height: 55px;
}

#duvida {
    height: 40px;
}

/*.logoDuvida {
    display: flex;
   

}*/


.formularioPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 35%;
    width: 30%;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    border-color: blue;
    border: 3px;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.formulario_cadastro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(78, 78, 87);
   
}



.formularioInput {
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

.formulario_email {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.formulario {
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: maroon;
}

.botaoEntrar {
    
    color: white;
    text-align: center;
    background-color: red;
    padding: 10px;
    border: 2px;
    margin: 10px;
    margin-left: 8%;
    border-radius: 15px;
    width: 25em;
    
}

.botaoEntrar:hover {
    background-color: rgb(82, 13, 13);
    transition: 0.5s;
    
}